<form name="calcForm" class="row">
  <div class="small-5 columns">
    
    <p class="lead">
      Current grade
      <small>(total average)</small>:
      <br/>
      <strong class="stat">
        {{ $ctrl.currentGrade || 0 }}%
      </strong>
    </p>
  </div>
  <div class="small-7 columns">
    
    <p class="lead">
      Adjusted grade 
      <small>(weight applied)</small>:
      <br/>
      <strong class="stat">
        {{ $ctrl.adjustedGrade || 0 }}%
      </strong>
      <br/>
      <strong class="stat">
	      <gpa-field ng-model="$ctrl.adjustedGrade"></gpa-field>
      </strong>
    </p>

  </div>
</form>